<main>
  <mat-card *ngFor="let literature of Literatures; let index = index">
    <mat-card-header id="header">
      <mat-card-title>{{ literature.Title }}</mat-card-title>
      <mat-card-subtitle>{{ literature.Title }}: {{ literature.Group }} </mat-card-subtitle>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        <b *ngIf="literature.Link != null">
          Link: {{ literature.Link }}
        </b>
      </p>
      <div>
        <span id="chips" *ngIf="literature.Files != null">
          <mat-chip-list id="chip" class="no-wrap">
            <mat-chip><span>{{ literature.Files.AttachmentFileName }}</span>
              <span id="downloadIcon" (click)="download(literature.Files.AttachmentId)">
                <fa-icon [icon]="faDownload" class="fa-lg"></fa-icon>
              </span></mat-chip>
          </mat-chip-list>
        </span>
      </div>
      <div class="allowbtn">
        <button mat-button color="primary" (click)="update(literature)">
          <fa-icon *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" [icon]="faEdit" class="fa-lg"></fa-icon>
        </button>
        <button mat-button color="warn" (click)="delete(literature.Id)">
          <fa-icon *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" [icon]="faTrash" class="fa-lg"></fa-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</main>