<!-- header, logo, ime, pretraga, odjava i odobravanje prijedloga -->
<div>
  <nav>
    <span class="pointer" id="menu" (click)='toggleMenu()'>
      <fa-icon [icon]="faBars"></fa-icon>
    </span>
    <span (click)="onLogoClick()" class="pointer" id="logo">
      <img src="assets\images\mibologo.png" alt="Logo">
    </span>
    <span id="searchField">
      <form>
        <div (click)="searchMsgs(inputSearch.value)" id="searchFieldIcon">
          <fa-icon [icon]="faSearch" id="lupa" class="centerAll darkGrayText"></fa-icon>
        </div>
        <input class="pointer" placeholder="Pretažite poruke" #inputSearch type="search" autocomplete="off">
      </form>
    </span>
    <span class="pointer">
      <span class="approvedbtn" matBadgeColor="warn" matBadgePosition="before" [matBadge]="countmessages"
        [matBadgeHidden]="showcountmessages || countmessages == 0" (click)="openApprovedMessageDialog()"
        matTooltip="Odobrite prijedloge">
        <fa-icon [icon]="faBell"></fa-icon>
      </span>
    </span>
    <span class="pointer" (click)="logout()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </span>
  </nav>
</div>
<!-- plusic za dodavanje prijedloga -->
<div class="messagebtn">
  <button mat-mini-fab color="white" (click)="openDialog()" class="addbtn" matTooltip="Ostavite prijedlog">
    <mat-icon class="addicon">add</mat-icon>
  </button>
</div>

<main>
  <section id="sidebar" *ngIf="toggleSidebar" (click)="cancleToggleSearch()">
    <ul id="sidebarMenu">
      <li routerLink="/About">
        <fa-icon [icon]="faBuilding"></fa-icon> O kompaniji
      </li>
      <li routerLink="/Employees">
        <fa-icon [icon]="faUserFriends"></fa-icon> Zaposlenici
      </li>
      <li routerLink="/Literature">
        <fa-icon [icon]="faFileAlt"></fa-icon> Korisna literatura
      </li>
      <li routerLink="/Documentation">
        <fa-icon [icon]="faBook"></fa-icon> Pravilnici
      </li>
      <li routerLink="/News">
        <fa-icon [icon]="faNewspaper"></fa-icon> Novosti
      </li>
      <li routerLink="/Schedule">
        <fa-icon [icon]="faCalendarAlt"></fa-icon> Plan i raspored sala
      </li>
      <li routerLink="/Messages">
        <fa-icon [icon]="faInbox"></fa-icon> Poruke
      </li>
    </ul>
  </section>
  <div>
    <div *ngIf="!searchToggle">
      <router-outlet></router-outlet>
    </div>
    <div id="searchResult" *ngIf="searchToggle">
      <div class="portalcontent">
        <span *ngFor="let message of searchMessages | filter: searchText" class="dialogmessage">
          <mat-card class="message-card" *ngIf="message.IsApproved == true">
            <div class="email">
              <mat-icon class="accounticon">account_circle</mat-icon>{{ message.Email }}
            </div>
            <mat-card-content>
              <div class="messagetext">
                <mat-card> 
                  <p id="messageShort" *ngIf="message.TextMessage.length > 100">
                    {{ message.TextMessage.substr(0, 100) }}...
                  </p>
                  <p id="messageShort" *ngIf="message.TextMessage.length < 100">
                    {{ message.TextMessage }}
                  </p>
                </mat-card>
              </div>
              <p>{{ message.CurrentDate | date: "HH:mm   dd.MM.yyyy." }}</p>
              <div>
                <span id="chips" *ngFor="let att of message.Attachments">
                  <mat-chip-list id="chip" class="no-wrap">
                    <mat-chip (click)="downloadFile(att.AttachmentId)">{{ att.AttachmentFileName }}
                    </mat-chip>
                    <fa-icon [icon]="faDownload" (click)="downloadFile(att.AttachmentId)" class="fa-lg"></fa-icon>
                  </mat-chip-list>
                </span>
              </div>
              <mat-card-actions>
                <div class="allowbtn">
                  <button mat-button color="primary" (click)="openCommentDialog(message.Id)"
                    matTooltip="Ostavite komentar">
                    <fa-icon [icon]="faComment" class="fa-lg"></fa-icon>
                  </button>

                  <button mat-button color="basic" (click)="openExpandDialog(message.Id)" matTooltip="Vidi više">
                    <fa-icon [icon]="faExpandAlt" class="fa-lg"></fa-icon>
                  </button>

                  <button mat-button color="warn" (click)="
                      onDelete(
                        message.Id,
                        message.TextMessage,
                        message.Email,
                        message.Group
                      )
                    " matTooltip="Odbacite prijedlog">
                    <!-- <fa-icon *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" [icon]="faTrash" class="fa-lg"></fa-icon> -->
                    <fa-icon [icon]="faTrash" class="fa-lg"></fa-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </span>
      </div>

    </div>
  </div>
</main>
