<div class="documentationContent">
  <span *ngFor="let schedule of Schedules | filter: searchText" class="dialogmessage">
    <mat-card class="message-card">
      <mat-card-title>Link za sastanak:</mat-card-title>
      <mat-card-content>
        <div class="messagetext">
          <mat-card>
            <p id="messageShort">
              <a href="{{schedule.Url}}">
                {{ schedule.Url }}
              </a>
            </p>
          </mat-card>
        </div>
        <mat-card-actions>
          <div class="allowbtn">
            <button mat-button color="warn" (click)="deleteMeeting(schedule.Id)">
              <fa-icon *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" [icon]="faTrash" class="fa-lg"></fa-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </span>
</div>
