#aboutWrapper {
    width: 100%;
    padding-top: 70px;
    display: flex;
}

#backgroundImage {
    margin: auto;
}

table.mat-table {
    border-spacing: 0;
}

table {
    margin: 5% !important;
    width: 90%;
}

tr.mat-footer-row, tr.mat-row {
    height: 48px;
}

.mat-cell, .mat-footer-cell {
    font-size: 14px;
}

.mat-cell, .mat-footer-cell {
    color: rgba(0, 0, 0, .87);
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 24px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgba(0, 0, 0, .12);
}

.mat-cell, .mat-footer-cell {
    color: rgba(0, 0, 0, .87);
}

.mat-cell, .mat-footer-cell {
    font-size: 14px;
}

table.mat-table {
    border-spacing: 0;
}

table[_ngcontent-xef-c7] {
    margin-top: 3%!important;
    margin-left: 5%!important;
    width: 90%;
}

.mat-table {
    background: #fff;
}

.mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.mat-table {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table tbody, .mat-table tfoot, .mat-table thead, .mat-table-sticky, [mat-footer-row], [mat-header-row], [mat-row], mat-footer-row, mat-header-row, mat-row {
    background: inherit;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table.mat-table {
    border-spacing: 0;
}
.mat-table {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 24px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: rgba(0,0,0,.12);
}
.mat-cell, .mat-footer-cell {
    color: rgba(0,0,0,.87);
}
.mat-cell, .mat-footer-cell {
    font-size: 14px;
}

