  <div style="max-height: 90vh;">
    <div class="close">
      <button mat-raised-button (click)="closeClick()">
        <mat-icon id="close-icon">close</mat-icon>
      </button>
    </div>

    <!-- za mail koji nije muhamed skikic -->
    <!-- <form [formGroup]="messageForm" class="example-form " (ngSubmit)="onSubmit(messageForm.value)" *ngIf="getEmail != 'muhamed.skikic@mibo.ba'">
  
  <mat-card  class="messagecontet">
    <mat-form-field class="message-full-width">
      <textarea matInput name="TextMessage" formControlName="TextMessage" placeholder="Ostavite prijedlog"
        [matTextareaAutosize] required></textarea>

      <div class="sendmessagebtn">
        <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
          <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
        </button>
      </div>

      <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
    </mat-form-field>
    <div class="upload-btn-wrapper">
      <button class="btn">Uvezi datoteke</button>
      <input #file type="file" id="file" (change)="uploadFileSave(file.files)">
      <div>
        <span id="chips" *ngFor="let item of ArrayOfFiles; let index = index">
          <mat-chip-list id="chip" class="no-wrap">
            <mat-chip><span>{{ item.name }}</span>
              <span id="closeIcon" (click)="remove(item)">
                <fa-icon [icon]="faWindowClose" class="fa-lg"></fa-icon>
              </span></mat-chip>
          </mat-chip-list>
        </span>
      </div>
    </div>
  </mat-card>
</form> -->

    <!--  *ngIf="getEmail == 'muhamed.skikic@mibo.ba'"-->
    <form [formGroup]="messageForm" class="example-form " (ngSubmit)="onSubmit(messageForm.value)">
      <mat-form-field class="selectedgroup">
        <mat-label>Izaberite grupu</mat-label>
        <mat-select name="Group" matSelect formControlName="Group" required>
          <mat-option *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" value="uposlenici">Zaposlenici</mat-option>
          <mat-option value="prijedlozi">Razmjena prijedloga dobre prakse</mat-option>
          <mat-option *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" value="dokumentacija">Pravilnici</mat-option>
          <mat-option *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" value="literatura">Literatura</mat-option>
          <mat-option *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" value="novosti">Novosti</mat-option>
          <mat-option *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" value="raspored">Plan i raspored sale</mat-option>
          <!-- <mat-option *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" value="dokumentacija">Dokumentacija/Pravilnik firme</mat-option> -->
        </mat-select>
        <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
      </mat-form-field>

      <mat-card *ngIf="messageForm.value.Group=='prijedlozi'" class="messagecontet">
        <mat-form-field class="message-full-width">
          <textarea matInput name="TextMessage" formControlName="TextMessage" placeholder="Ostavite prijedlog"
            [matTextareaAutosize] required></textarea>

          <div class="sendmessagebtn">
            <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
              <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
            </button>
          </div>

          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>
        <div class="upload-btn-wrapper">
          <button class="btn">Uvezi datoteke</button>
          <input #file type="file" id="file" (change)="uploadFileSave(file.files)">
          <div>
            <span id="chips" *ngFor="let item of ArrayOfFiles; let index = index">
              <mat-chip-list id="chip" class="no-wrap">
                <mat-chip><span>{{ item.name }}</span>
                  <span id="closeIcon" (click)="remove(item)">
                    <fa-icon [icon]="faWindowClose" class="fa-lg"></fa-icon>
                  </span></mat-chip>
              </mat-chip-list>
            </span>
          </div>
        </div>
      </mat-card>
    </form>

    <form [formGroup]="scheduleForm" class="example-form " (ngSubmit)="onSubmitSchedule(scheduleForm.value)"
      *ngIf="messageForm.value.Group=='raspored'">
      <!-- <mat-form-field *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" class="selectedgroup" > -->

      <mat-card class="messagecontet">

        <!-- <mat-form-field class="message-full-width" appearance="standard">
      <mat-label>Unesite naziv</mat-label>
      <input matInput placeholder="Naziv" formControlName="Title">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
    </mat-form-field> -->

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite link sastanka</mat-label>
          <input matInput placeholder="Link" formControlName="Url">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>

        <div class="sendmessagebtn">
          <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
            <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
          </button>
        </div>
      </mat-card>
    </form>

    <form [formGroup]="literatureForm" class="example-form " (ngSubmit)="onSubmitLiterature(literatureForm.value)"
      *ngIf="messageForm.value.Group=='literatura'">
      <!-- <mat-form-field *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" class="selectedgroup" > -->

      <mat-card *ngIf="messageForm.value.Group=='literatura'" class="messagecontet">
        <mat-form-field class="message-full-width" appearance="standard">
          <input matInput placeholder="Naziv" formControlName="Title">
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <input matInput placeholder="Link" formControlName="Link">
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <input matInput placeholder="Grupa" formControlName="Group">
        </mat-form-field>

        <div class="upload-btn-wrapper">
          <button class="btn">Uvezi datoteke</button>
          <input #file type="file" id="file" (change)="uploadFileSave(file.files)">
          <div>
            <span id="chips" *ngFor="let item of ArrayOfFiles; let index = index">
              <mat-chip-list id="chip" class="no-wrap">
                <mat-chip><span>{{ item.name }}</span>
                  <span id="closeIcon" (click)="remove(item)">
                    <fa-icon [icon]="faWindowClose" class="fa-lg"></fa-icon>
                  </span></mat-chip>
              </mat-chip-list>
            </span>
          </div>
        </div>
      </mat-card>

      <div class="sendmessagebtn" style="margin-top: 10px;">
        <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
          <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
        </button>
      </div>
    </form>

    <form [formGroup]="newsForm" class="example-form " (ngSubmit)="onSubmitNews(newsForm.value)"
      *ngIf="messageForm.value.Group=='novosti'">
      <!-- <mat-form-field *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" class="selectedgroup" > -->

      <mat-card *ngIf="messageForm.value.Group=='novosti'" class="messagecontet">
        <mat-form-field class="message-full-width" appearance="standard">
          <input matInput placeholder="Sadržaj" formControlName="Content">
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite datum događaja</mat-label>
          <input matInput [matDatepicker]="start" formControlName="DateOfEvent" required disabled>
          <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
          <mat-datepicker #start disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-card>

      <div class="sendmessagebtn" style="margin-top: 10px;">
        <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
          <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
        </button>
      </div>
    </form>

    <form [formGroup]="documentForm" class="example-form " (ngSubmit)="onSubmitDocument(documentForm.value)"
      *ngIf="messageForm.value.Group=='dokumentacija'">
      <!-- <mat-form-field *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" class="selectedgroup" > -->

      <mat-card class="messagecontet">
        <mat-form-field class="message-full-width">
          <textarea matInput name="Title" formControlName="Title" placeholder="Napišite naslov pravilnika"
            [matTextareaAutosize] required></textarea>
          <mat-error *ngIf="documentForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <input matInput placeholder="Grupa" formControlName="Group">
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <input matInput placeholder="Link" formControlName="Link">
        </mat-form-field>

        <!-- <div class="upload-btn-wrapper">
      <button class="btn">Uvezi datoteke</button>
      <input #file type="file" id="file" (change)="uploadDoc(file.files)">
      <div>
        <span id="chips" *ngFor="let item of documentFile; let index = index">
          <mat-chip-list id="chip" class="no-wrap">
            <mat-chip><span>{{ item.name }}</span>
              <span id="closeIcon" (click)="removeDoc(documentFile)">
                <fa-icon [icon]="faWindowClose" class="fa-lg"></fa-icon>
              </span></mat-chip>
          </mat-chip-list>
        </span>
      </div>
    </div> -->

        <div class="sendmessagebtn">
          <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
            <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
          </button>
        </div>
      </mat-card>
    </form>

    <form [formGroup]="employeeForm" class="example-form" style="max-height: fit-content; overflow-y: hidden;"
      (ngSubmit)="onSubmitEmployees(employeeForm.value)" *ngIf="messageForm.value.Group=='uposlenici'">
      <mat-card class="messagecontet">
        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite ime</mat-label>
          <input matInput placeholder="Ime" formControlName="Firstname">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite prezime</mat-label>
          <input matInput placeholder="Prezime" formControlName="Lastname">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite email uposlenika</mat-label>
          <input matInput placeholder="example@mibo.ba" formControlName="EmailEmployee" required>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite poziciju uposlenika</mat-label>
          <input matInput placeholder="Pozicija" formControlName="Position" required>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite sektor uposlenika</mat-label>
          <input matInput placeholder="Pozicija" formControlName="Department" required>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>
        <div>
          <mat-form-field class="message-full-width" appearance="standard">
            <mat-label>Datum početka radnog odnosa</mat-label>
            <input matInput [matDatepicker]="start" formControlName="StartOfWork" required disabled>
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- <div>
          <mat-form-field class="message-full-width" appearance="standard">
            <mat-label>Potencijalni kraj radnog (ostavite prazno ukoliko je ugovor na nedefinisano)</mat-label>
            <input matInput [matDatepicker]="end" formControlName="EndOfWork" required disabled>
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end disabled="false"></mat-datepicker>
          </mat-form-field>
        </div> -->

        <mat-form-field class="message-full-width" appearance="standard">
          <mat-label>Unesite telefon</mat-label>
          <input matInput placeholder="Tel" formControlName="Telephone">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="messageForm.invalid">*Polje je obavezno</mat-error>
        </mat-form-field>
        <div class="upload-btn-wrapper">
          <button class="btn">Uvezi sliku</button>
          <input #file formControlName="EmployeePicture" type="file" id="file"
            (change)="uploadEmployeePicture(file.files)">

          <div>
            <!-- *ngFor="let item of ArrayOfFiles; let index = index" -->
            <span id="chips" *ngIf="selectedFile != null">
              <mat-chip-list id="chip" class="no-wrap">
                <mat-chip><span>{{ selectedFile.name }}</span>
                  <span id="closeIcon" (click)="remove(selectedFile)">
                    <fa-icon [icon]="faWindowClose" class="fa-lg"></fa-icon>
                  </span></mat-chip>
              </mat-chip-list>
            </span>
          </div>

        </div>

        <div class="sendmessagebtn">
          <button mat-mini-fab color="white" matTooltip="Pošalji" type="submit">
            <mat-icon aria-hidden="false" aria-label=" " class="sendicon">send</mat-icon>
          </button>
        </div>
      </mat-card>

    </form>
  </div>
