<div _ngcontent-xef-c7="" id="aboutWrapper">
  <div _ngcontent-xef-c7="" id="backgroundImage">
    <table _ngcontent-xef-c7="" class="mat-elevation-z8 mat-table" mat-table="" role="grid">
      <thead role="rowgroup">
        <!---->
        <tr _ngcontent-xef-c7="" class="mat-header-row" mat-header-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" colspan="2" mat-header-cell="" style="text-align:center; padding: 30px"><b> Podaci o
              kompaniji</b> </td>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <!---->
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Naziv kompanije </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell"> MIBO
            Komunikacije d.o.o. </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Adresa </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell">
            Tvornička 3, 71 120 Ilidža, Sarajevo </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Djelatnost </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell">
            Telekomunikacije, inžinjering, digitalizacija, automatizacija, sigurnost, IT usluge, unapređenje poslovnih
            procesa </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Šifra djelatnosti </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell"> 46.52
          </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Godina osnivanja kompanije </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell"> 1996.
            godina </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Broj zaposlenih </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell"> 84
          </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> Standard poslovanja </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell"> ISO
            9001:2015 , ISO 27001: 2013 , BAS EN ISO/IEC 17020:2013 </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> ID broj kompanije </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell">
            4200470540005 </td>
        </tr>
        <tr _ngcontent-xef-c7="" class="mat-row" mat-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-item mat-column-item" mat-cell="" role="gridcell"><b
              _ngcontent-xef-c7=""> PDV broj kompanije </b></td>
          <td _ngcontent-xef-c7="" class="mat-cell cdk-column-cost mat-column-cost" mat-cell="" role="gridcell">
            200470540005 </td>
        </tr>
      </tbody>
      <tfoot role="rowgroup">
        <!---->
        <tr _ngcontent-xef-c7="" class="mat-footer-row" mat-footer-row="" role="row">
          <!---->
          <td _ngcontent-xef-c7="" class="mat-footer-cell cdk-column-item mat-column-item" mat-footer-cell=""
            role="gridcell"></td>
          <td _ngcontent-xef-c7="" class="mat-footer-cell cdk-column-cost mat-column-cost" mat-footer-cell=""
            role="gridcell"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>