#aboutWrapper {
    width: 100%;
}

#backgroundImage{
    background-image: url("../../../assets/images/about-cover.jpg");
    border-bottom: 1px solid gray;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
}

h1{
    padding: 0 10px;
}

section{
    padding: 10px 10px 0 10px;
}

hr{
    width: 99%;
    text-align: right;
}