<main>
  <div class="documentationContent">
    <span *ngFor="let novost of News | filter: searchText" class="dialogmessage">
      <mat-card class="message-card">
        <mat-card-title>Objavljeno: {{ novost.DateNow | date:"medium" }}</mat-card-title>
        <mat-card-subtitle>{{ novost.DateOfEvent | date:"medium"  }} </mat-card-subtitle>
        <mat-card-content>
          <div class="messagetext">
            <mat-card>
              {{novost.Content}}
            </mat-card>
          </div>
          <mat-card-actions>
            <div class="allowbtn">
              <button mat-button color="primary" (click)="editNews(novost)">
                <fa-icon *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" [icon]="faEdit" class="fa-lg"></fa-icon>
              </button>
              <button mat-button color="warn" (click)="deleteNews(novost.Id)">
                <fa-icon *ngIf="getEmail == 'muhamed.skikic@mibo.ba'" [icon]="faTrash" class="fa-lg"></fa-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </span>
  </div>
</main>